@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/* Header */
.logo{
	display: block;
	padding: 5% 0%;
}
.navbar{
	padding: 1% 5%;
	background-color: #34495E;
	margin-bottom: 0px;
}
.navbar-default {
	border: none;
	border-radius: 0;
}
.navbar-default .navbar-nav>li>a{
	color: #A2AAB2;
}
.navbar-default .navbar-nav>li>a:hover{
	color: white;
	background-color: #2C3E50;
}
/* -- Home Page -- */
/* Background tiger - section*/
.carousel-control{
	width: 10%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
	left: 40%;
}
.tiger{
	bottom: 40%;
	text-align: left;
	left: 10%;
}
.tiger h2{
	font-size: 2.4em;
}
.man{
	bottom: 40%;
}
.man p{
	width: 90%;
    margin: auto;
}
.man h2, .man p{
	background-color: rgba(0, 0, 0, 0.60);
	padding: 1%;
}
/* redes */
.box-green{
	background-color: #2ECC71;
	color: white;
	padding: 3% 4%;
}
.icon{
	margin-top: 65%;
	font-size: 2em;
	display: flex;
  	align-items: center;
   	justify-content: center;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.4);
}
/* Lastest Projects - Section */
.project, .b-gray{
	background-color: #F5F5F5;
	padding: 4% 0%;
}
.caja img{
	width: 100%;
}
.caja p, .blog-caja p{
	margin: 2% 0%;
}
.caja{
	padding: 3% 5% 0%;
	background-color: white;
	border: 1px solid #EEEEEE;
}
/* What our clients say */
.clients{
	background-color: #E74C3C;
	color: white;
	padding: 3% 0%;
}
.clients .row{
	margin: 4% 0%;
}
.clients .row .borde{
	border-left: 5px solid white;
}
.clients .row p:first-child, .tag p{
	font-size: 1.3em;
}
.clients .row p:last-child, .btn-blue{
	font-size: 0.9em;
}
/* -- Blog-Item  Page-- */
.box{
	background-color: white; 
	border-radius: 5px;
	margin-bottom: 5%;
}
.box .pic{
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.p-blog, .menu-blog li, .menu-blog, .icono li, .tag p, .btn-blue, .comment p, .comment h4{
	display: inline-block;
}
.blog-caja{
	padding: 1% 3% 3%;
}
.blog-caja .p-blog{
	font-size: 1.5em;
	margin: 3% 0%;
}
.menu-blog, .comment a{
	float: right;
}
.menu-blog a{
	color: white;
	margin-left: 8px;
	margin-right: 8px;
}
.menu-blog a:hover{
	color: rgba(255, 255, 255, 0.65);
	text-decoration: none;
}
.icono li a{
	font-size: 0.9em;
	color: #999999;
	margin-right: 14px;
}
.tag p, .btn-blue, .comment a i{
	margin: 0 3px;
}
.btn-blue{
	color: white;
	background-color: #428BCA;
	border: 1px solid #357EBD;
	border-radius: 5px;
	padding: 2px 5px;
}
/* Tags */
.john-pic{
	background-color: white;
	border-radius: 5px;
	padding: 4%;
	display: block;
}
.comment{
	background-color: #F5F5F5;
	padding: 2%;
	border-radius: 5px;
}
.foto{
	border-radius: 50%;
}
.comment a{
	color: #374B60;
}
.picture{
	width: 100%;
	border-radius: 5px;
	margin: 5% 0%;
}
/*Blog Categories*/
.categories{
	padding-left: 0;
}
.categories li i{
	margin-right: 5px;
}
/* Pagination Blog */
.pagination>li>a:hover{
	background-color: #34495E;
	color: white;
}
.pagination>li>a{
	color: #34495E;
	font-size: 1.4em;
	border: 0;
}
/* Footer */
.pre-footer{
	background-color: #34495E;
	padding: 2% 0%;
}
footer{
	background-color: #2C3E50;
	padding: 1% 0%
}
footer p{
	top: 12px;
    position: relative;

}
footer a{
	color:white;
}
footer .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(238, 238, 238, 0.07);
    color: white;
}
.pre-footer, footer{
	color:white; 
}
.pre-footer h3 {
	margin-bottom: 25px;
}
.pre-footer ul , .categories {
	list-style-type: none
}
.pre-footer ul li i, .comment h4{
	margin-right: 10px;
}
.pre-footer .box-1{
	display: inline-block;
    position: absolute;
}
.pre-footer .box-2{
	display: inline-block;
    margin-left: 70px;
}
.pre-footer .btn{
	background-color: #D9534F;
    border-color: transparent;
    color: white;
}
.pre-footer .box-latest{
	margin-bottom: 2%;
}
/*about us*/
.centro {
	background-color: #F5F5F5;
	padding: 1% 0% 2%;
}
.centro .second-row img {
	border-radius: 100%;
    padding: 1%;
    border: 1px solid white;
    background-color: white;
}
.centro .second-row{
	text-align: center;
}
.centro .progress{
	height: 30px;
    background-color: white;
}
.centro .progress-bar{
	padding: 1%;
}
.centro h2{
	margin: 5% 0% 2% 0%;
}
.centro .second-row .box-img{
	margin: 4% 0%;
}
.centro .second-row .box-img h6{
	color: gray;
}
.centro .second-row .box-img .redes-sociales .rs{
	border-radius: 100%;
	width: 40px;
	height:40px;
	text-align: center;
	display: inline-block;
	text-align: center
}
.centro .second-row .box-img .redes-sociales .rs i{
    top: 10px;
    position: relative;
    color: white;
}
.centro .fb{
	background-color: #4F7DD4;
}
.centro .google{
	background-color: #DC422B;
}
.centro .in{
	background-color: #21A6D8; 
}
.centro .tw{
	background-color: #5BCEFF; 
}
/*Portfolio*/
.centro-porta{
	padding: 4% 0%;
	background-color: #F5F5F5;
}
.centro-porta .box-img{
	background-color: white;
    border: 1px solid #cccccc;
    padding: 3%;
    margin: 3% 0%;
}
.centro-porta .box-img img {
    width: 100%;
}
.centro-porta .box-img p {
	margin: 10px 0px 0px;
}
/*Services*/
.centro-services{
	background-color: #F5F5F5;
	padding: 1% 0% 6%;
}
.centro-services .circle-icon{
	border-radius: 100%;
    background-color: #939393;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 15px;
    display: inline-block;
    position: absolute;
}
.centro-services .circle-icon i{
	font-size: 35px;
    color: white;
}
.centro-services .icon-text{
	display: inline-block;
    margin-left: 90px;
}
.centro-services h3{
	margin: 0px 0px 10px
}
.centro-services .title-row{
    text-align: center;
    margin: 4% 0%;
}
.centro-services span{
	font-size: 0.9em;
}
.centro-services .text2{
    font-size: 1.3em;
}
.centro-services .border{
	border-left: 6px solid #cccccc;
}
.centro-services .mg-bt{
	margin-bottom: 5%;
}
/*Contact us*/
.centro-contact{
	background-color: #F5F5F5;
	padding: 5% 0%;
}
.centro-contact input{
	margin-bottom: 15px;
}
.centro-contact .btn{
	background-color: #428BCA;
	color:white;
	padding: 
	border-color:#428BCA;
	font-size: 1.2em;
}
.centro-contact textarea{
	margin-top: 56px;
}
