@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/* -- Common -- */
/* Header */
.logo{
	display: block;
	padding: 5% 0%;
}
.navbar{
	padding: 1% 5%;
	background-color: #34495E;
	margin-bottom: 0px;
}
.navbar-default {
	border: none;
	border-radius: 0;
}
.navbar-default .navbar-nav>li>a{
	color: #A2AAB2;
}
.navbar-default .navbar-nav>li>a:hover{
	color: white;
	background-color: #2C3E50;
}
/* Footer */

.pre-footer{
	background-color: #34495E;
	padding: 2% 0%;
}
footer{
	background-color: #2C3E50;
	padding: 1% 0%
}
footer p{
	top: 12px;
    position: relative;

}
footer a{
	color:white;
}
footer .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(238, 238, 238, 0.07);
    color: white;
}
.pre-footer, footer{
	color:white; 
}
.pre-footer h3 {
	margin-bottom: 25px;
}
.pre-footer ul {
	list-style-type: none
}
.pre-footer ul li i{
	margin-right: 10px;
}
.pre-footer .box-1{
	display: inline-block;
    position: absolute;
}
.pre-footer .box-2{
	display: inline-block;
    margin-left: 70px;
}
.pre-footer .btn{
	background-color: #D9534F;
    border-color: transparent;
    color: white;
}
.pre-footer .box-latest{
	margin-bottom: 2%;
}

/* -- Home Page -- */
/* Background tiger - section*/
.carousel-control{
	width: 10%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
	left: 40%;
}
.tiger{
	bottom: 40%;
	text-align: left;
	left: 10%;
}
.tiger h2{
	font-size: 2.4em;
}
.man{
	bottom: 40%;
}
.man p{
	width: 90%;
    margin: auto;
}
.man h2, .man p{
	background-color: rgba(0, 0, 0, 0.60);
	padding: 1%;
}
/* redes */
.box-green{
	background-color: #2ECC71;
	color: white;
	padding: 3% 4%;
}
.icon{
	margin-top: 65%;
	font-size: 2em;
	display: flex;
  	align-items: center;
   	justify-content: center;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.4);
}
/* Lastest Projects - Section */
.project, .b-gray{
	background-color: #F5F5F5;
	padding: 4% 0%;
}
.btn-red{
	width: 25%;
	background-color: #D9534F;
	border-radius: 4px;
	border: 1px solid #D43F3A;
	text-align: center;
}
.boton{
	display: inline-block;
	padding: 12%;
	color: white;
	font-weight: bold;
}
.boton:first-child{
	border-right: 1px solid #D43F3A;
}
.boton:hover{
	text-decoration: none;
}
.caja img{
	width: 100%;
}
.caja p{
	margin: 2% 0%;
}
.caja{
	padding: 3% 5% 0%;
	background-color: white;
	border: 1px solid #EEEEEE;
}
/* What our clients say */
.clients{
	background-color: #E74C3C;
	color: white;
	padding: 3% 0%;
}
.clients .row{
	margin: 4% 0%;
}
.clients .row .borde{
	border-left: 5px solid white;
}
.clients .row p:first-child, .tag p{
	font-size: 1.3em;
}
.clients .row p:last-child, .btn-blue{
	font-size: 0.9em;
}

/* -- Blog-Item  Page-- */
.b-gray, .comment, .post{
	background-color: #F5F5F5;
}
.box{
	background-color: white; 
	border-radius: 0 0 5px 5px;
}
.box .pic{
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.p-blog, .menu-blog li, .menu-blog, .icono li, .tag p, .btn-blue, {
	display: inline-block;
}
.blog-caja{
	padding: 1% 3% 3%;
}
.blog-caja .p-blog{
	font-size: 1.5em;
	margin: 3% 0%;
}
.menu-blog{
	float: right;
}
.menu-blog a{
	color: white;
	margin-left: 8px;
	margin-right: 8px;
}
.menu-blog a:hover{
	color: rgba(255, 255, 255, 0.65);
	text-decoration: none;
}
.icono li a{
	font-size: 0.9em;
	color: #999999;
	margin-right: 14px;
}
.tag p, .btn-blue{
	margin: 0 3px;
}
.btn-blue{
	color: white;
	background-color: #428BCA;
	border: 1px solid #357EBD;
	border-radius: 5px;
	padding: 2px 5px;
}
/* Tags */
.post{
	padding: 2%;
	border-radius: 5px;
	margin: 2%;
}
.post img{
	width: 115%;
	padding: 5%;
	background-color: white;
	border-radius: 5px;
}
.post p:last-child{
	margin-bottom: 0;
}
.comment {
	border: 1px solid black;
	border-radius: 5px;
}